<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.test2mapper.Emp1Mapper">
	<select id="findEmps" resultType="com.test.entity.Emp">
		select e.empno as "empId",e.ename as "empName",e.sal as "salary",d.dname as "dept.deptName",
		d.deptno as "dept.deptId" from EMP e
		left join DEPT d on e.deptno=d.deptno
	</select>

</mapper>
